// .index {
//   flex-direction: column;
//   width: 100%;
// }
 .cssOfCoverView{
  position: absolute;
  top: 16px;
  width: 100vw;
  padding:0 16px 16px 0;
 }
 .sizeOfMap{
  width: 100vw;
  height: 100vh;
 }
