//总体的统筹:包括颜色和限制

//字体尺寸
.small-FontSize{  font-size:30px;}
.middle-FontSize{  font-size:48px;}
.big-FontSize{  font-size:64px;}

//字体颜色
.gray-Font{ color:darkgrey;}  //深灰
.timeColor{ color: #666}      //时间,地点常用颜色
//一套颜色
.NameOrTitle{  color: #9B8300;}  //名称或者标题
.likeColor{color: #C6A700}    //点赞颜色
.backGroundColor{color: #C6A700}    //背景颜色:金黄色
.lightgold{color: #FFE039}      //轻的金色
.whiteGold{color:#FFE764}      //很接近白色的金色了


//距离产生美